{##
 # Login form
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/global/form-login.twig.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see         https://woocommerce.com/document/template-structure/
 # @package     WooCommerce\Templates
 # @version     9.2.0
 #}

{% if not user %}
     <form class="woocommerce-form woocommerce-form-login login" method="post" {{ wc.hidden ? 'style="display:none;"' }}>

        {% do action( 'woocommerce_login_form_start' ) %}

        {{ wc.message ? message|wptexturize|wpautop }}

        <p class="form-row form-row-first">
            <label for="username">{{ __( 'Username or email', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required" aria-hidden="true">*</span><span class="screen-reader-text">{{ __( 'Required', 'woocommerce' )|e('esc_html') }}</span></label>
		    <input type="text" class="input-text" name="username" id="username" autocomplete="username" required aria-required="true" />

        </p>
        <p class="form-row form-row-last">

            <label for="password">{{ __( 'Password', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required">*</span></label>
            <input class="input-text woocommerce-Input" type="password" name="password" id="password" autocomplete="current-password" />

            <label for="password">{{ __( 'Password', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required" aria-hidden="true">*</span><span class="screen-reader-text">{{ __( 'Required', 'woocommerce' )|e('esc_html') }}</span></label>
		    <input class="input-text woocommerce-Input" type="password" name="password" id="password" autocomplete="current-password" required aria-required="true" />

        </p>
        <div class="clear"></div>

        {% do action( 'woocommerce_login_form' ) %}

        <p class="form-row">
            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>{{ __( 'Remember me', 'woocommerce' )|e('esc_html') }}</span>
            </label>
            {% do fn('wp_nonce_field', 'woocommerce-login', 'woocommerce-login-nonce' ) %}
            <input type="hidden" name="redirect" value="{{ wc.redirect|e('esc_url') }}" />
            <button type="submit" class="woocommerce-button button woocommerce-form-login__submit{{ fn('wc_wp_theme_get_element_class_name', 'button') ? ' ' ~ fn('wc_wp_theme_get_element_class_name', 'button')|e('html_attr') }}" name="login" value="{{ __( 'Login', 'woocommerce' )|e('html_attr') }}">{{ __( 'Login', 'woocommerce' )|e('esc_html') }}</button>
        </p>
        <p class="lost_password">
            <a href="{{ fn('wp_lostpassword_url')|e('esc_url') }}">{{ __( 'Lost your password?', 'woocommerce' )|e('esc_html') }}</a>
        </p>

        <div class="clear"></div>

        {% do action( 'woocommerce_login_form_end' ) %}

    </form>
{% endif %}
