{##
 # Simple product add to cart
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/single-product/add-to-cart/simple.twig.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see https://woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates
 # @version 7.0.1
 #}
{% if product.is_purchasable() %}

    {{ fn('wc_get_stock_html', product ) }}

    {% if product.is_in_stock() %}

        {% do action( 'woocommerce_before_add_to_cart_form' ) %}

        <form class="cart" action="{{ product.get_permalink()|apply_filters( 'woocommerce_add_to_cart_form_action')|e('esc_url') }}" method="post" enctype='multipart/form-data'>
            {% do action( 'woocommerce_before_add_to_cart_button' ) %}


            {% do action( 'woocommerce_before_add_to_cart_quantity' ) %}

            {% do fn('woocommerce_quantity_input',
                {
                    'min_value'   : product.get_min_purchase_quantity()|apply_filters( 'woocommerce_quantity_input_min', product ),
                    'max_value'   : product.get_max_purchase_quantity()|apply_filters( 'woocommerce_quantity_input_max', product ),
                    'input_value' : request.post.quantity ? fn('wc_stock_amount', fn('wp_unslash', request.post.quantity)) : product.get_min_purchase_quantity(),
                }
            ) %}

            {% do action( 'woocommerce_after_add_to_cart_quantity' ) %}


            <button type="submit" name="add-to-cart" value="{{ product.get_id()|esc_attr }}" class="single_add_to_cart_button button alt{{ fn('wc_wp_theme_get_element_class_name', 'button')|esc_attr ? ' ' ~ fn('wc_wp_theme_get_element_class_name', 'button')|esc_attr }}">{{ product.single_add_to_cart_text()|e }}</button>

            {% do action( 'woocommerce_after_add_to_cart_button' ) %}
        </form>

        {% do action( 'woocommerce_after_add_to_cart_form' ) %}

    {% endif %}
{% endif %}
