
{##
 # Auth form grant access
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/auth/form-grant-access.twig.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see https://woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates\Auth
 # @version 8.8.0
 #}


{% do action('woocommerce_auth_page_header') %}

<h1>
	{# Translators: %s App name. #}
    {{ __( '%s would like to connect to your store', 'woocommerce' )|format(wc.app_name)|e }}
</h1>

{% do fn('wc_print_notices') %}

<p>

	{# Translators: %1$s App name, %2$s scope.  #}
    {{ __( 'This will give "%1$s" %2$s access which will allow it to:', 'woocommerce' )|e|format('<strong>' ~ wc.app_name|e ~ '</strong>', '<strong>' ~ wc.scope|e ~ '</strong>') }}

</p>

<ul class="wc-auth-permissions">
	{% for permission in wc.permissions %}
		<li>{{ permission|e }}</li>
	{% endfor %}
</ul>

<p>
	{# Translators: %s Domain name from the callback URL. #}
    {{ __('Approving will share credentials with %s. Do not proceed if this looks suspicious in any way.', 'woocommerce')|format('<strong>' ~ fn('wp_parse_url', callback_url, constant('PHP_URL_HOST')) ~ '</strong>')|esc_html }}
</p>

<div class="wc-auth-logged-in-as">
	{{ fn('get_avatar', user.ID, 70) }}
	<p>
		{# Translators: %s display name. #}
        {{ __( 'Logged in as %s', 'woocommerce' )|e|format(user.display_name|e) }}

		<a href="{{ wc.logout_url|e('esc_url') }}" class="wc-auth-logout">{{ __( 'Logout', 'woocommerce' )|e }}</a>
	</p>
</div>

<p class="wc-auth-actions">
	<a href="{{ wc.granted_url|e('esc_url') }}" class="button button-primary wc-auth-approve">{{ __('Approve', 'woocommerce')|e }}</a>
	<a href="{{ wc.return_url|e('esc_url') }}" class="button wc-auth-deny">{{ __('Deny', 'woocommerce')|e }}</a>
</p>

{% do action('woocommerce_auth_page_footer') %}
